<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anull.wxpxxcj181222">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />



    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--忽略版本限制-->
    <!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <!--作者：lizhq888-->
    <!--来源：CSDN-->
    <!--原文：https://blog.csdn.net/lizhq888/article/details/79907953-->
    <!--版权声明：本文为博主原创文章，转载请附上博文链接！-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/an123"
        android:label="危险品信息采集2.0"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".setting" />
        <activity android:name=".guanyu" />
        <activity android:name=".Renyuanbianji" />
        <activity android:name=".Bianji" />
        <activity android:name=".Banzubianji"></activity>
    </application>

</manifest>
